PORT=5000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/erp_auth"
JWT_SECRET=change-this-secret
STUDENT_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/erp_student"
STUDENT_SERVICE_PORT=5001
ACADEMIC_STRUCTURE_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/erp_academic_structure"
ACADEMIC_STRUCTURE_SERVICE_PORT=5002
PROFILE_DATABASE_URL="postgresql://postgres:postgres@localhost:5432/erp_profile"
PROFILE_SERVICE_PORT=5004
PROFILE_SERVICE_URL=http://localhost:5004
